body {
    min-height: 100%;
}
html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

header {
    position: relative;
    background: url("../assets/books2.jpg");
    background-size: cover;
    width: 100%;
    height: 180px;
    border-bottom: 10px solid black;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.5);
    user-select: none;
}

h1 {
    line-height: 180px;
    font-size: 3.5rem;
    text-align: center;
    color: rgb(236, 219, 195);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    font-family: 'Merriweather', serif;
}

.container {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgb(117, 28, 28), rgb(143, 39, 39));
    border: 10px solid black;
}

.btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: rgb(114, 57, 57);
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    color: rgb(231, 231, 169);
    border-radius: 6px;
}

.add-book {
    position: absolute;
    left: 15%;
    top: -170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 80px;
    height: 100px;
    opacity: 1;
    border: 4px solid rgb(85, 42, 42);
    border-radius: 2px;
    transform: rotate(10deg);
    box-shadow: 2px 1px rgb(250, 250, 241),
                3px 2px rgb(179, 179, 162),
                4px 3px rgb(250, 250, 241),
                5px 4px rgb(179, 179, 162),
                6px 5px rgb(250, 250, 241),
                7px 6px rgb(179, 179, 162),
                8px 7px rgb(250, 250, 241),
                0px 2px rgb(85, 42, 42),
                1px 3px rgb(85, 42, 42),
                2px 4px rgb(85, 42, 42),
                3px 5px rgb(85, 42, 42),
                4px 6px rgb(85, 42, 42),
                5px 7px rgb(85, 42, 42),
                6px 8px rgb(85, 42, 42),
                7px 9px rgb(85, 42, 42),
                8px 10px rgb(85, 42, 42),
                10px 10px rgb(85, 42, 42),
                7px 7px 8px 8px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease-out;
    color: #f0cfa0;
}

.add-book::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: 1px solid #f0cfa0;
}

.add-book:hover {
    transform: rotate(0deg);
}

.book-creation-form {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.bookshelf {
    position: relative;
    margin-top: 120px;
}

.bookshelf::before {
    position: fixed;
    content: "HOVER BOOKS FOR MORE INFO";
    font-family: 'Open Sans Condensed', sans-serif;
    bottom: 30%;
    left: 2rem;
    transform-origin: left;
    transform: rotate(270deg);
    font-size: 1.5rem;
}

.book-display {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: max-content;
    width: 80%;
    margin: 0 auto;
}

.book-item {
    box-sizing: border-box;
    border: 0px solid black;
    align-self: center;
    place-self: center;
    transition: opacity 0.5s 0s, transform 0.5s;
    border-radius: 0 0 3px 3px;
    margin: 0 0 2.5rem 0;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    box-sizing: border-box;
    color: rgb(236, 219, 195);
    background: rgb(114, 57, 57);
    width: 200px;
    height: 260px;
    padding: 1rem;
    border: 6px solid rgb(85, 42, 42);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.9);
    z-index: 1;
    transition: 0.25s ease-out;
}

.title-container:hover + .meta-container {
    transform: translateY(0);
}

.title-container h2 {
    font-weight: bold;
    font-size: 1.6rem;
}
.title-container h3 {
    font-size: 1.4rem;
}

.meta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    border: 2px solid rgb(85, 42, 42);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,1);
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.3s ease-out;
}

.meta-container:hover {
    transform: translateY(0);
}


.page-num {
    font-size: 1rem;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.read-display {
    color: rgb(172, 55, 55);
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

.read {
    color: rgb(88, 146, 88);
}

.un-text {
    transition: 0.5s ease-in-out;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.remove-btn {
    user-select: none;
    cursor: pointer;
    color: rgb(85, 42, 42);
    font-size: 1.5rem;
}

.sofa {
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 10%;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 1.5rem 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(143, 39, 39);
    width: 20rem;
    height: 24rem;
    border-radius: 0.5rem;
    color: rgb(236, 219, 195);
    font-family: 'Open Sans Condensed', sans-serif;
}
.modal-content input {
    margin: 0.8rem 0;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(236, 219, 195);
    color: rgb(236, 219, 195);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4rem;
}
.modal-content input:focus {
    outline: none;
}
.is-read-container {
    display:flex;
    margin: 2rem 0;
    align-items: center;
}
#is-read {
    width: auto;
    margin-left: 1rem;
}
.book-creation-form {
    width: 100%;
}
.book-creation-form label {
    font-size: 1.2rem;
}
.create-book-btn {
    align-self: center;
    border: 2px solid rgb(85, 42, 42);
    color: rgb(236, 219, 195);
    margin-top: 0.8rem;
    border-radius: 0px;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
.create-book-btn:hover {
    background-color: #794040;
}
.close-btn {
    align-self: flex-end;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(236, 219, 195);
    color: #771c1d;
    margin-bottom: 1rem;
}
.close-btn:hover {
    background-color: rgb(228, 206, 176);;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
::placeholder {
    color: rgb(236, 219, 195);
    opacity: 0.7; /* Firefox */
}


@media (max-width: 1300px) {
    .book-display {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-auto-rows: max-content;
        width: 80%;
        margin: 0 auto;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 600px) {
    .book-display {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-auto-rows: max-content;
        width: 80%;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }
}
